.ressource-card{
    display: flex;
    flex-direction: column;
background-color: #fff;
width: 46%;
height: 300px;
margin: 10px;
padding: 10px;
border-radius: 10px;
transition: 0.4s;
}
.ressource-card:hover{
    cursor: pointer;
    /* transform: scale(1.0001); */
    box-shadow: 0px 0px 4px 1px #bbb;
}
.ressource-banner{
    height: 60%;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}
.ressource-info {
    margin: 10px;
}
.ressource-info h2{
    font-weight: bold;
}
.ressource-footer{
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}