.sidebar{
    width: 230px;
    /* position: fixed; */
}
.sidebar-box{
    cursor: pointer;
    position: fixed;
    top:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 120px;
    background-color: #fff;
    border-radius: 0 30px 30px 0;
    z-index: 10000;
    font-size:20px ;
    color: #fff;
    box-shadow: 1px 2px 2px #ddd ;
}
/* .test{
color: blue;
} */
.sidebar-box .selected .test{
    font-size: 15px;
    color:#fff;
}