@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './atoms/avatar.css';
@import './atoms/hamburger.css';
@import './atoms/resumeBox.css';
@import './atoms/navigationButton.css';

@import './molecules/user.css';
@import './molecules/miniHeader.css';
@import './molecules/noteCard.css';
@import './molecules/ressourceCard.css';
@import './molecules/sideBar.css';

@import './organisms/statutStudent.css';
@import './organisms/caroussel.css';
@import './organisms/summary.css';

@import './Home.css';
@import './login.css';


@layer base{
  html{
      font-family: Work Sans;
      background: #fff;
  }
}

.home{
  display: flex;
   background-color: #F9F9F9;
}

.main-layout{
 position: relative;
  justify-content: space-around;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-btn,.sm-main-btn,.outlined-btn{
  cursor: pointer;
}

.main-btn{
  background: #1EAAF1;
  width: 120px;
  padding: 10px;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sm-main-btn{
  background: #1EAAF1;
  width: 80px;
  padding: 5px;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outlined-btn{
  background: #fff;
  width: 120px;
  padding: 10px;
  color: #1EAAF1;
  border:1px solid #1EAAF1;
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,h2,h3,h4,h5,h6,p{
  color: #444;
}
.primary-color{
  color: #1EAAF1;
}

