.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url("https://cdn.shopify.com/s/files/1/0173/5488/3126/files/teacher_backtoschool.jpg?v=1597410588");
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: 100vh;
}

.login {
    display: flex;
    align-self: center;
    justify-self: center;
    background: #fff;
    margin: 0 auto;
    border: 2px solid #eee;
    min-height: 80vh;
    width: 80vw;
    border-radius: 5px;
    padding: 20px 5px;
}
    .left-section {
      flex: 50%;
      margin: 10px;
      background: url('https://about-sentinelle.vercel.app/images/bg_5.jpg');
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      border: 1px solid #3333;
      border-radius: 5px;
    }
    .right-section {
      flex: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    .topper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
      .topper h1 {
 
          color: #1EAAF1;
      }
       .topper img {
          width: 100px;
        }

  
      form {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
      }
        input {
          width: 100%;
          margin: 10px !important;
          padding: 10px !important;
          height: 40px;
          border-radius: 5px;
          outline: none;
          border: 1px solid #eee;
          background: #eef !important;
          transition: 0.4s;
          animation: logAnimation 0.3s;
        }
        @keyframes logAnimation {
          from {
            transform: scale(0);
          }
          to {
            transform: scale(1);
          }
        }
        input:focus {
          border: 2px solid #1EAAF1;
          font-weight: bold;
        }
        .loginbtn {
            display: flex;
            justify-content: center;
            align-items: center;
          border: none;
          width: 150px;
          height: 40px;
          border-radius: 5px;
          cursor: pointer;
          background-color: #1EAAF1;
          color: #fff;
          margin: 1em 0;
          transition: 0.2s;
        }
        .loginbtn div {
            width: 20px;
            height: 20px;
            color: #fff;
        }
       .loginbtn:hover {
          background-color: #fff;
          border: 1px solid #1EAAF1;
          color: #1EAAF1;
          font-weight: bold;
        }
      
      .form-error input
      {
     
          border: 1px solid #ee2211;
        }
        .error-message {
          color: #ee2211;
        }
 
      .footer {
        display: flex;
        justify-content: center;
   }
        .footer span {
          margin: 0 1em;
          transition: 0.1s;
        }
        .footer span:hover {
          cursor: pointer;
          color: #1EAAF1;
        }
      
    
        @media (max-width:800px)
        {
            .left-section{
                display: none;
            }
        }